@import '../../theme/tailwind.css';
@import '../../module/menu/menu.scss';
@import 'ant-design-vue/dist/antd.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
